.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.link{
    text-decoration: none;
    margin: 10px;
}

.search{
    margin: 5px;
}

.res-card{
    width: 200px;
    margin: 30px;
    padding: 5px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}
.cuisine{
    overflow-wrap:break-word;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter{
    margin: 10px;
    display: flex;
}

.filter-btn{
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer{
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    margin: 10px;
}

.login{
    margin: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.search-box{
    margin-left: 20px;
}

.restaurantCard{
    text-decoration: none;
}